<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>indexx.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>deleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>removeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrowBook</servlet-name>
        <servlet-class>borrowBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnBook</servlet-name>
        <servlet-class>returnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isbnSearch</servlet-name>
        <servlet-class>isbnSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authorSearch</servlet-name>
        <servlet-class>authorSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>titleSearch</servlet-name>
        <servlet-class>titleSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categorySearch</servlet-name>
        <servlet-class>categorySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrowedBooks</servlet-name>
        <servlet-class>borrowedBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrowBook</servlet-name>
        <url-pattern>/borrowBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isbnSearch</servlet-name>
        <url-pattern>/isbnSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authorSearch</servlet-name>
        <url-pattern>/authorSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>titleSearch</servlet-name>
        <url-pattern>/titleSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categorySearch</servlet-name>
        <url-pattern>/categorySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrowedBooks</servlet-name>
        <url-pattern>/borrowedBooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
